body {
    background-color: #f2f2f2;
}

.titulo {
    color: #000000;
    text-align: center;
    margin-top: 30px;
}

.form {
    background-color: #CCCCCC;
    padding: 20px;
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #666666;
}

.form label {
    display: block;
    margin-top: 10px;
    color: #000000;
}

.form input[type=text] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.form button {
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0000CC;
}